[submodule "lib/yamV3"]
	path = lib/yamV3
	url = https://github.com/yam-finance/yamV3
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/uma"]
	path = lib/uma
	url = https://github.com/UMAprotocol/protocol
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
